* {
  font-family: 'Dosis', sans-serif;
}

.header {
  color: #696969;
    
}


.ya {
    margin-left: 600px;
}

.heart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  margin-top: 100px;
}


#links {
  display: flex;
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}


.pages {
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

img {
  padding: 0px;
  margin-right: 10px;
}

a {
  color: #7FBF8D;
  text-decoration: none;
}

.header {
  font-size: 60px;
  margin-left: 30px;
  margin-top:-70px;
}


.ourmission {
  font-size: 20px;
  color: #CCD1D1;
}

.pic-of-us {
  width: auto;
  height: 400px;
  margin-top: 20px;
}

.pic-of-us-statement {
  margin-top: 50px;
}



.email {
  margin-top: 200px;
}

.mark {
  height: 50px;
  margin-left: px;
  margin-bottom: 30px;
  margin-top: 0px;
}

.wordquote {
  font-size: 35px;
  color: #CCD1D1;
}



.boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 450px;
}


.stars-container{
  border: 1px solid;
  margin: 50px;
  width: 525px;
  height: 105px;
}

.

.hover {
  background: url('./assets/light-green-trash.png');
  background-size: cover;
}
.filled {
    background: url('./assets/dark-green-trash.png');
    background-size: cover;
  }

ol {
  list-style-type: none;
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.quote {
  height:80px;
    margin-top: 80px;
  margin-left: 0px;
}
.citation-why-me {
  font-size: 10px;
  margin-left:480px;
  margin-top:65px;
  font-size: 35px;
  color: #CCD1D1;
}
.Pagebreak {
Height: auto;
margin-bottom: -50px;
width: 100%;
margin-left: -100px;
}


.ourmission {
  font-size: 30px;
  color: #CCD1D1;
  margin-top: -10px;
  margin-left: 180px;
}


.column  {
  float: left;
  width: 30%;
  padding: 40px;
}


.column img {
  cursor: pointer; 
}

.column img:hover {
}


.row:after {
  content: "";
  display: table;

}

.container {
  position: relative;
  display: none;
}


#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

.closebtn {
  position: absolute;
  top: 5px;
  right: 20px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
    
}


.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}


/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

